In [1]:
name = "Waqas"

In [2]:
type(name)

str

In [3]:
# data structure

# But we have multiple data structures

# list

In [4]:
employee_1 = []

In [5]:
employee_1

[]

In [6]:
type(employee_1)

list

In [7]:
n = ""

In [8]:
type(n)

str

In [9]:
employee_1 = ["Afzal",20, 5000.0, "GNG", "MD"]

In [10]:
employee_2 = []

In [11]:
employee_2 = ["Zehra", 18, 6000,"Finance", "CFO"]

In [12]:
employee_1 = ["Afzal",20, 5000.0, "GNG", "MD", 1500]

In [13]:
employee_2.append(1600)

In [14]:
employee_2

['Zehra', 18, 6000, 'Finance', 'CFO', 1600]

"Finance" -> 3,-3

18 -> 1,-5

In [15]:
employee_1[0]

'Afzal'

In [17]:
employee_2[-6]

'Zehra'

In [18]:
employee_2[-6][2]

'h'

In [19]:
employee_1

['Afzal', 20, 5000.0, 'GNG', 'MD', 1500]

In [20]:
employee_1[2] = 5500

In [21]:
employee_1

['Afzal', 20, 5500, 'GNG', 'MD', 1500]

In [22]:
employee_2

['Zehra', 18, 6000, 'Finance', 'CFO', 1600]

In [25]:
employee_2[2][2]

TypeError: 'int' object is not subscriptable

In [24]:
"6000"[2]

'0'

$H_2o$

$2^2$

In [27]:
employee_3 = ["Waqas", 28, " ", " ", "D.S", "Senior Consultant"]

In [28]:
employee_3

['Waqas', 28, ' ', ' ', 'D.S', 'Senior Consultant']

In [29]:
employee_3[2] = 2500

In [30]:
employee_3

['Waqas', 28, 2500, ' ', 'D.S', 'Senior Consultant']

In [31]:
employee_3[3] = 0

In [32]:
employee_3[0] = "Muhammad Waqas"

In [33]:
employee_3

['Muhammad Waqas', 28, 2500, 0, 'D.S', 'Senior Consultant']

In [34]:
employees = [employee_1, employee_2, employee_3]

In [35]:
employees

[['Afzal', 20, 5500, 'GNG', 'MD', 1500],
 ['Zehra', 18, 6000, 'Finance', 'CFO', 1600],
 ['Muhammad Waqas', 28, 2500, 0, 'D.S', 'Senior Consultant']]

In [36]:
len(employees)

3

In [38]:
employees[2]

['Muhammad Waqas', 28, 2500, 0, 'D.S', 'Senior Consultant']

In [39]:
employees.append(["Harris", 22, 5300, 1550, "MIS", "Supervisor"])

In [40]:
employees

[['Afzal', 20, 5500, 'GNG', 'MD', 1500],
 ['Zehra', 18, 6000, 'Finance', 'CFO', 1600],
 ['Muhammad Waqas', 28, 2500, 0, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5300, 1550, 'MIS', 'Supervisor']]

In [41]:
# list of lists

In [42]:
employee_1

['Afzal', 20, 5500, 'GNG', 'MD', 1500]

In [43]:
employee_1.index("MD")

4

In [44]:
employees

[['Afzal', 20, 5500, 'GNG', 'MD', 1500],
 ['Zehra', 18, 6000, 'Finance', 'CFO', 1600],
 ['Muhammad Waqas', 28, 2500, 0, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5300, 1550, 'MIS', 'Supervisor']]

In [45]:
# employees[0][2] += 500
# employees[1][2] += 500
# employees[2][2] += 500
# employees[3][2] += 500

In [46]:
# looping
# for loop

for info in employees: # loop statement
    info[2]+=500

In [47]:
employees

[['Afzal', 20, 6000, 'GNG', 'MD', 1500],
 ['Zehra', 18, 6500, 'Finance', 'CFO', 1600],
 ['Muhammad Waqas', 28, 3000, 0, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5800, 1550, 'MIS', 'Supervisor']]

In [48]:
info

['Harris', 22, 5800, 1550, 'MIS', 'Supervisor']

In [49]:
num = 1
num = 2
num = 3

In [50]:
num

3

In [51]:
employees

[['Afzal', 20, 6000, 'GNG', 'MD', 1500],
 ['Zehra', 18, 6500, 'Finance', 'CFO', 1600],
 ['Muhammad Waqas', 28, 3000, 0, 'D.S', 'Senior Consultant'],
 ['Harris', 22, 5800, 1550, 'MIS', 'Supervisor']]

# comparision operators

* `==` equality
* `!=` not equals to
* `>` greater than
* `<` less than
* `>=` greater than & equals to
* `<=` less than & equals to

# Logical Operators

* and 
* or
* not

In [ ]:
# accept
# except