In [1]:
2+2

4

In [2]:
2*2-3

1

In [3]:
# +,-,/,*,**,

In [4]:
type(2)

int

In [5]:
type(2.0)

float

In [6]:
type("2")

str

In [7]:
"Waqas"

'Waqas'

In [8]:
'waqas'

'waqas'

# Variable legality

* variable only contains alphabets, number and underscore (_)
* variable cant start from a number

In [9]:
name = "Waqas"

In [10]:
name

'Waqas'

In [11]:
name = "Muhammad Waqas"

In [12]:
n = "Waqas"

In [13]:
name

'Muhammad Waqas'

In [14]:
n

'Waqas'

In [15]:
name_1 = "Awais"

In [16]:
_name2= "Asad"

In [17]:
salary = 5000

In [19]:
# salary = 5500  

# = is an assignment operator

In [28]:
salary = salary  + 500

In [29]:
salary

7500

In [30]:
salary += 500 # salary = salary  + 500

In [31]:
salary

8000

In [32]:
salary -= 3000

In [33]:
salary

5000

In [34]:
salary *= 2

In [35]:
salary

10000